a:not([href]) {
	color: #fff
}

.form-header {
	margin: 30px 0;
	text-align: center
}

.add-venue {
    margin: 30px 0;
}

label {
    color: #000;
}

.add-venue-form {
	width: 700px;
}

.submit {
	margin: auto;
}