.header {
    background-color: #fff;
    padding: 15px;
    border-bottom: 2px solid #0078d7;
    text-align: center;
}

.square {
    border: 2px solid #0078d7;
    background-color: #fff;
    text-align: center;
}

.square:hover {
    background-color: #0078d7;
    border: solid 2px #fff;
}

.square a:hover {
    text-decoration: none;
}

.icon {
    width: 100%;
}

.search-form {
    max-width: 700px;
    margin: auto;
}

.search-bar {
    margin: 30px 0;
}

.search-bar .form-row {
    justify-content: center;
}

.search-bar input {
    border-radius: 10px;
    border: 1px solid #0078d7;
    margin-bottom: 10px;
}

.btn {
    background-color: #0078d7;
    width: 100%;
}

.btn:hover {
    background-color: #fff;
    border: 2px solid #0078d7;
    color: #0078d7;
}

.grid {
    max-width: 700px;
    margin: auto;
}

.label {
    position: relative;
    bottom: 20px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
}